.container {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.btn {
  background-color: #4caf50;
  border: none;
  color: #fff;
  padding: 10px 20px;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  width: 100px;
}

.btn:hover {
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}
